.searchWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.btnWrapper {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.btn {
	margin: 20px;
	background-color: #1976d2 !important;
	color: white !important;
}
